doctype html
html
	head
		title Find a new Honda near Los Angeles, CA | Awesome Honda
		meta(name="description" content="Browse the Awesome Honda website to see new Honda cars and trucks in Los Angeles, CA. Come on in to test drive a new Honda today near Greater Los Angeles Area!")
		<link rel="shortcut icon" href="https://s3.amazonaws.com/fzautomotive/common/mfg/Honda/honda-fav.ico" />
		link(rel="shortcut icon", href="/images/honda-fav.ico")
		link(rel="stylesheet", href="../stylesheets/style.css")
		link(rel="stylesheet", type="text/css", href="../semantic/dist/semantic.min.css")
		link(rel="stylesheet", type="text/css", href="../owl-carousel/owl.carousel.css")
		link(rel="stylesheet", type="text/css", href="../owl-carousel/owl.theme.css")
		link(rel="stylesheet", type="text/css", href="../noUiSlider.9.0.0/nouislider.min.css")
		script(src="../javascripts/jquery-3.1.1.min.js")
		script(src="../javascripts/jquery.tablesort.min.js")
		script(src="../semantic/dist/semantic.min.js")
		script(src="../owl-carousel/owl.carousel.min.js")
		script(src="../noUiSlider.9.0.0/nouislider.min.js")

	body
		block content
