block content
	div.ui.grid
		div.ui.search.column
			div.ui.icon.input.srpsearch
				input(class="prompt" type="text" placeholder="Search Your Favourite Vehicle Now!")
				i.search.icon
			div.results